<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rails Project: Private Events", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Events", root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Create Event", new_event_path %></li>
          <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Create new User", signup_path %></li>
          <li><%= link_to "Log in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
